.luxbar-default{width:100%;position:relative;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);z-index:1000}.luxbar-static{box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);width:100%;position:absolute;top:0;left:0;z-index:1000}.luxbar-static .luxbar-checkbox:checked ~ .luxbar-menu{position:absolute}.luxbar-fixed{width:100%;position:fixed;top:0;left:0;z-index:1000;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)}.luxbar-fixed-bottom{width:100%;position:fixed;bottom:0;left:0;z-index:1000;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)}.luxbar-hamburger span,.luxbar-hamburger span::before,.luxbar-hamburger span::after{display:block;height:2px;width:26px;transition:0.6s ease}.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span{background-color:transparent}.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::before,.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::after{margin-top:0}.luxbar-header{display:flex;flex-direction:row;justify-content:space-between;align-items:center;height:58px}.luxbar-menu-left .luxbar-navigation,.luxbar-menu-left .luxbar-header{justify-content:flex-start}.luxbar-menu-right .luxbar-hamburger{margin-left:auto}.luxbar-brand{font-size:1.6em;padding:18px 24px 18px 24px}.luxbar-menu{min-height:58px;transition:0.6s ease;width:100%}.luxbar-navigation{display:flex;flex-direction:column;list-style:none;padding-left:0;margin:0}.luxbar-menu a,.luxbar-item a{text-decoration:none;color:inherit;cursor:pointer}.luxbar-item{height:58px}.luxbar-item a{padding:18px 24px 18px 24px;display:block}.luxbar-hamburger{padding:18px 24px 18px 24px;position:relative;cursor:pointer}.luxbar-hamburger span::before,.luxbar-hamburger span::after{content:'';position:absolute}.luxbar-hamburger span::before{margin-top:-8px}.luxbar-hamburger span::after{margin-top:8px}.luxbar-checkbox{display:none}.luxbar-checkbox:not(:checked) ~ .luxbar-menu{overflow:hidden;height:58px}.luxbar-checkbox:checked ~ .luxbar-menu{transition:height 0.6s ease;height:100vh;overflow:auto}.dropdown{position:relative;height:auto;min-height:58px}.dropdown:hover>ul{position:relative;display:block;min-width:100%}.dropdown>a::after{position:absolute;content:'';right:10px;top:25px;border-width:5px 5px 0;border-color:transparent;border-style:solid}.dropdown>ul{display:block;overflow-x:hidden;list-style:none;padding:0}.dropdown>ul .luxbar-item{min-width:100%;height:29px;padding:5px 10px 5px 40px}.dropdown>ul .luxbar-item a{min-height:29px;line-height:29px;padding:0}@media screen and (min-width: 975px){.luxbar-navigation{flex-flow:row;justify-content:flex-end}.luxbar-hamburger{display:none}.luxbar-checkbox:not(:checked) ~ .luxbar-menu{overflow:visible}.luxbar-checkbox:checked ~ .luxbar-menu{height:58px}.luxbar-menu .luxbar-item{border-top:0}.luxbar-menu-right .luxbar-header{margin-right:auto}.dropdown{height:58px}.dropdown:hover>ul{position:absolute;left:0;top:58px;padding:0}.dropdown>ul{display:none}.dropdown>ul .luxbar-item{padding:5px 10px}.dropdown>ul .luxbar-item a{white-space:nowrap}}.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-doublespin span::before{transform:rotate(225deg)}.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-doublespin span::after{transform:rotate(-225deg)}.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-spin span::before{transform:rotate(45deg)}.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-spin span::after{transform:rotate(-45deg)}.luxbar-menu-dark,.luxbar-menu-dark .dropdown ul{background-color:#212121;color:#fff}.luxbar-menu-dark .active,.luxbar-menu-dark .luxbar-item:hover{background-color:#424242}.luxbar-menu-dark .luxbar-hamburger span,.luxbar-menu-dark .luxbar-hamburger span::before,.luxbar-menu-dark .luxbar-hamburger span::after{background-color:#fff}.luxbar-menu-light,.luxbar-menu-light .dropdown ul{background-color:#e0e0e0;color:#212121}.luxbar-menu-light .active,.luxbar-menu-light .luxbar-item:hover{background-color:#bdbdbd}.luxbar-menu-light .luxbar-hamburger span,.luxbar-menu-light .luxbar-hamburger span::before,.luxbar-menu-light .luxbar-hamburger span::after{background-color:#212121}.luxbar-menu-material-red,.luxbar-menu-material-red .dropdown ul{background-color:#b71c1c;color:#fff}.luxbar-menu-material-red .active,.luxbar-menu-material-red .luxbar-item:hover{background-color:#c62828}.luxbar-menu-material-red .luxbar-hamburger span,.luxbar-menu-material-red .luxbar-hamburger span::before,.luxbar-menu-material-red .luxbar-hamburger span::after{background-color:#fff}.luxbar-menu-material-indigo,.luxbar-menu-material-indigo .dropdown ul{background-color:#1a237e;color:#fff}.luxbar-menu-material-indigo .active,.luxbar-menu-material-indigo .luxbar-item:hover{background-color:#283593}.luxbar-menu-material-indigo .luxbar-hamburger span,.luxbar-menu-material-indigo .luxbar-hamburger span::before,.luxbar-menu-material-indigo .luxbar-hamburger span::after{background-color:#fff}.luxbar-menu-material-green,.luxbar-menu-material-green .dropdown ul{background-color:#1b5e20;color:#fff}.luxbar-menu-material-green .active,.luxbar-menu-material-green .luxbar-item:hover{background-color:#2e7d32}.luxbar-menu-material-green .luxbar-hamburger span,.luxbar-menu-material-green .luxbar-hamburger span::before,.luxbar-menu-material-green .luxbar-hamburger span::after{background-color:#fff}.luxbar-menu-material-amber,.luxbar-menu-material-amber .dropdown ul{background-color:#ff6f00;color:#fff}.luxbar-menu-material-amber .active,.luxbar-menu-material-amber .luxbar-item:hover{background-color:#ff8f00}.luxbar-menu-material-amber .luxbar-hamburger span,.luxbar-menu-material-amber .luxbar-hamburger span::before,.luxbar-menu-material-amber .luxbar-hamburger span::after{background-color:#fff}.luxbar-menu-material-brown,.luxbar-menu-material-brown .dropdown ul{background-color:#3e2723;color:#fff}.luxbar-menu-material-brown .active,.luxbar-menu-material-brown .luxbar-item:hover{background-color:#4e342e}.luxbar-menu-material-brown .luxbar-hamburger span,.luxbar-menu-material-brown .luxbar-hamburger span::before,.luxbar-menu-material-brown .luxbar-hamburger span::after{background-color:#fff}.luxbar-menu-material-bluegrey,.luxbar-menu-material-bluegrey .dropdown ul{background-color:#263238;color:#fff}.luxbar-menu-material-bluegrey .active,.luxbar-menu-material-bluegrey .luxbar-item:hover{background-color:#37474f}.luxbar-menu-material-bluegrey .luxbar-hamburger span,.luxbar-menu-material-bluegrey .luxbar-hamburger span::before,.luxbar-menu-material-bluegrey .luxbar-hamburger span::after{background-color:#fff}.luxbar-menu-material-cyan,.luxbar-menu-material-cyan .dropdown ul{background-color:#006064;color:#fff}.luxbar-menu-material-cyan .active,.luxbar-menu-material-cyan .luxbar-item:hover{background-color:#00838f}.luxbar-menu-material-cyan .luxbar-hamburger span,.luxbar-menu-material-cyan .luxbar-hamburger span::before,.luxbar-menu-material-cyan .luxbar-hamburger span::after{background-color:#fff}

/* Common styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
  }
  
  header {
    background-color: #1e1e1e;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 60px;
  }
  
  footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  p {
    font-size: larger;
  }
  
  .header {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .header img {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .track-info {
    text-align: center;
    padding: 20px;
    background-color: #e6e6e6;
  }
  
  .achievements {
    text-align: center;
    padding: 20px;
  }
  
  .gumboot {
    display: flex;
    align-items: center;
  }
  
  .gumboot img {
    max-width: 400px;
  }

  .gumboot p {
    margin-left: 10px;
  }
  
  .sponsor-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .sponsor img {
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .sponsor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .sponsor-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .sponsor-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .sponsor-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .sponsor-card p {
    font-size: 16px;
    color: #777777;
  }
  
  .big-container {
    display: flex;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .image-container:hover {
    opacity: 50%;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  


  
  .controls {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .controls select {
    font-size: 16px;
    padding: 5px 10px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
  }
  
  .dropdown {
    margin-bottom: 20px;
  }
  
  #calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  
  .calendar-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .calendar-cell img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .calendar-cell .caption {
    font-size: 12px;
  }

  .calendar-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .calendar-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .calendar-table th,
  .calendar-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 14%;
  }
  
  .calendar-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .calendar-table td {
    height: 80px;
  }
  
  .calendar-table td:hover {
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    #calendar {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .calendar-cell {
      padding: 5px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .container {
      padding: 5px;
    }
  
    h1 {
      font-size: 18px;
    }
  
    #calendar {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 320px) {
    .container {
      padding: 5px;
    }
  
    h1 {
      font-size: 16px;
    }
  
    #calendar {
      grid-template-columns: 1fr;
    }
  }
  
  

  





  
  
  .slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
/* Media Queries */

@media screen and (max-width: 1200px) {
  /* Modify styles for screens up to 1200px */
  .main {
    padding: 40px;
  }
}

@media screen and (max-width: 992px) {
  /* Modify styles for screens up to 992px */
  .main {
    padding: 30px;
  }

  .header {
    padding: 10px;
  }

  .sponsor-list {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .sponsor-card {
    width: 200px;
    margin: 10px;
    padding: 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  /* Modify styles for screens up to 768px */
  body {
    font-size: 14px;
  }

  .header {
    padding: 10px;
  }

  .main {
    padding: 20px;
  }

  .sponsor-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .sponsor-card {
    width: 300px;
    margin: 10px;
    padding: 15px;
    font-size: 14px;
  }

  .gumboot {
    flex-direction: column;
    align-items: flex-start;
  }

  .gumboot img {
    margin-bottom: 10px;
  }

  .image-container {
    height: 150px;
    width: 150px;
  }

  /*.calendar {
    max-width: 600px;
    padding: 10px;
  }

  .calendar-header {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .calendar-table th,
  .calendar-table td {
    padding: 8px;
    font-size: 12px;
  }*/
}

@media screen and (max-width: 480px) {
  /* Modify styles for screens up to 480px */
  body {
    font-size: 12px;
  }

  .header {
    padding: 5px;
  }

  .sponsor-list {
    grid-gap: 5px;
  }

  .sponsor-card {
    width: 250px;
    padding: 10px;
    font-size: 12px;
  }

  .image-container {
    height: 100px;
    width: 100px;
  }

  /*.calendar {
    max-width: 400px;
    padding: 5px;
  }

  .calendar-header {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .calendar-table th,
  .calendar-table td {
    padding: 5px;
    font-size: 10px;
  }*/
}



/*Where do we race, About Us*/

.big-container {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  flex: 0 0 20%; /* 5 images across */
  height: 200px;
  width: 20%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.big-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

/* Media Queries for Where do we race, About Us*/

@media screen and (max-width: 1200px) {
  /* Modify styles for screens up to 1200px */
  .image-container {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 992px) {
  /* Modify styles for screens up to 992px */
  .image-container {
    width: 130px;
    height: 130px;
    margin: 10px;
  }
}

@media screen and (max-width: 768px) {
  /* Modify styles for screens up to 768px */
  .image-container {
    width: 120px;
    height: 120px;
    margin: 10px;
  }
}

/* Media Queries for I Am Hope in Index*/

@media screen and (max-width: 768px) {
  /* Modify styles for screens up to 768px */
  .gumboot {
    flex-direction: column;
    align-items: flex-start;
  }

  .gumboot img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  /* Modify styles for screens up to 480px */
  .gumboot img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}